In [5]:
# Importing packages
import pandas as pd
import sqlite3

In [32]:
#Initiate a new SQLite database connection object and assign this object to the variable 'dn_conn'
db_conn = sqlite3.connect("EM_Case.db")

# establish a cursor object and assign to c
c = db_conn.cursor()
#actualgeneration
#co2eq
pd.read_sql(
    """SELECT *
    FROM actualgeneration a
    LEFT JOIN co2eq b
    ON a.Source=b.Source
    ORDER BY start
    LIMIT 10""", db_conn)

,Area,Source,ActualAggregated,start,end,Source,Source_Mapped,value,_comment,Datasource
0,BZN|DK2,BIOMASS,519,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
1,BZN|DK2,FOSSIL BROWN COAL/LIGNITE,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
2,BZN|DK2,FOSSIL COAL-DERIVED GAS,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
3,BZN|DK2,FOSSIL GAS,72,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
4,BZN|DK2,FOSSIL HARD COAL,185,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
5,BZN|DK2,FOSSIL OIL,23,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
6,BZN|DK2,FOSSIL OIL SHALE,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
7,BZN|DK2,FOSSIL PEAT,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
8,BZN|DK2,GEOTHERMAL,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None
9,BZN|DK2,HYDRO PUMPED STORAGE,n/e,2021-01-01 00:00:00,2021-01-01 01:00:00,None,None,None,None,None

In [31]:
# Here i got stuck... Cannot not figure out why the join is not working.

In [30]:
# The rest os the datahandling I have done in Alteryx, so I am apoligizing this is a bit of a black box for you