# 00 ReadCleanUploadtoSQL

This script reads, cleanses and uploads to sql: 
- 01. Actual generation data (From ENTSO-e) orignal .csv format 
- 02. CO2 equivalent data (From ElectricityMap's github repository) manually mapped to the sources of data above

In [142]:
# Importing packages
import pandas as pd
import sqlite3

## Actual generation

### 01. Read & Clean

In [143]:
# Reads file and defines row 4 as header
df =pd.read_csv("ActualGenerationperProduction.csv")

# Transpose dataset changing columns to rows to get a long format
df=df.melt(id_vars=["Area", "MTU"], var_name="Source", value_name="ActualAggregated")

# Remove unwanted punctuation and text
df['MTU'] = df['MTU'].astype(str).str.replace(r'\(|\)|,', '')
df['MTU'] = df['MTU'].str.replace("CET","")
df['Source'] = df['Source'].astype(str).str.replace(r'\[|\]|,', '')
df['Source'] = df['Source'].str.replace("- Actual Aggregated MW","")
df['Source'] = df['Source'].str.upper()


#Split MTU time interval into start and end
df[['start','end']] = df['MTU'].str.split('-', expand=True)

# convert start and end to date time
df['start'] =pd.to_datetime(df['start'], dayfirst=True)
df['end'] =pd.to_datetime(df['end'], dayfirst=True)

actualgeneration = df.drop('MTU',1)

### 02. Create and upload to sqlite database

In [144]:
#Initiate a new SQLite database connection object and assign this object to the variable 'dn_conn'
db_conn = sqlite3.connect("EM_Case.db")

# establish a cursor object and assign to c
c = db_conn.cursor()

# Create empty table for actual generation
c.execute(
    """
    CREATE TABLE IF NOT EXISTS actualgeneration(
        Area TEXT NOT NULL,
        Source TEXT NOT NULL,
        ActualAggregated INTEGER,
        start DATETIME,
        end DATETIME);
     """
)

# Populate Tables
actualgeneration.to_sql('actualgeneration', db_conn, if_exists='append', index=False)

pd.read_sql("SELECT * FROM actualgeneration LIMIT 10", db_conn)

,Area,Source,ActualAggregated,start,end
0,BZN|DK2,BIOMASS,519,2021-01-01 00:00:00,2021-01-01 01:00:00
1,BZN|DK2,BIOMASS,520,2021-01-01 01:00:00,2021-01-01 02:00:00
2,BZN|DK2,BIOMASS,520,2021-01-01 02:00:00,2021-01-01 03:00:00
3,BZN|DK2,BIOMASS,518,2021-01-01 03:00:00,2021-01-01 04:00:00
4,BZN|DK2,BIOMASS,511,2021-01-01 04:00:00,2021-01-01 05:00:00
5,BZN|DK2,BIOMASS,508,2021-01-01 05:00:00,2021-01-01 06:00:00
6,BZN|DK2,BIOMASS,511,2021-01-01 06:00:00,2021-01-01 07:00:00
7,BZN|DK2,BIOMASS,517,2021-01-01 07:00:00,2021-01-01 08:00:00
8,BZN|DK2,BIOMASS,519,2021-01-01 08:00:00,2021-01-01 09:00:00
9,BZN|DK2,BIOMASS,481,2021-01-01 09:00:00,2021-01-01 10:00:00

## 02. CO2 Equivalent Data

### 01. Read

In [146]:
# Reads file 
co2eq =pd.read_csv("co2eq_mapped.csv")

### 02. Create and uppload to sqlite database

In [147]:
# Create empty table for actual generation
c.execute(
    """
    CREATE TABLE IF NOT EXISTS co2eq(
        Source_Mapped TEXT NOT NULL,
        Value REAL,
        _Comment TEXT,
        Source TEXT);
     """
)

# Populate Tables
co2eq.to_sql('co2eq', db_conn, if_exists='append', index=False)

pd.read_sql("SELECT * FROM co2eq LIMIT 10", db_conn)

,Source_Mapped,Value,_Comment,Source
0,BIOMASS,230.0,None,BIOMASS
1,COAL,820.0,None,FOSSIL BROWN COAL/LIGNITE
2,GAS,490.0,None,FOSSIL COAL-DERIVED GAS
3,GAS,490.0,None,FOSSIL GAS
4,COAL,820.0,None,FOSSIL HARD COAL
5,OIL,650.0,UK Parliamentary Office of Science and Technol...,FOSSIL OIL
6,OIL,650.0,UK Parliamentary Office of Science and Technol...,FOSSIL OIL SHALE
7,UNKNOWN,700.0,assume conventional,FOSSIL PEAT
8,GEOTHERMAL,38.0,None,GEOTHERMAL
9,HYDRO,24.0,None,HYDRO PUMPED STORAGE